<div class="row border border-3 p-2 text-center mt-2">
  <div>This is Parent Component</div>
  <div>my own data a: {{a}}</div>
  <div>My child2's data b: {{child2.b}}</div>
  <div>My child1's data CourseName: {{parentCourseName}}</div>

  <div class="col-sm-6 border border-3 p-2">
    <app-child1-demo [a]="a" [b]="child2.b" (courseEvent)="receiveCourseData($event)"></app-child1-demo>
  </div>
  <div class="col-sm-6 border border-3 p-2">
    <app-child2-demo [aChild2]="a" #child2></app-child2-demo>
  </div>
</div>
