<div class="container body">
  <!-- <div>This is Body Component</div> -->
  <!-- <app-databinding /> -->
  <!-- <app-databinding-assignment /> -->
  <!-- <app-directives /> -->
  <!-- <app-my-modal>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScpg4cj5jtWGAPBJtp60mtTdXJRD1lB9Y9eQ&s" alt="">
  </app-my-modal> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-parent-demo></app-parent-demo> -->
  <!-- <app-products></app-products> -->
  <!-- <app-math-demo></app-math-demo> -->
  <!-- <app-http-demo1></app-http-demo1> -->
  <!-- <app-stock-list></app-stock-list> -->
  <!-- <app-comment-list></app-comment-list> -->
  <!-- <app-employee-list></app-employee-list> -->
  <!-- <app-observable-demo1></app-observable-demo1> -->
   <!-- <app-observable-demo2></app-observable-demo2> -->
   <!-- <app-observable-demo3></app-observable-demo3> -->
    <!-- <app-signal-demo1></app-signal-demo1> -->
    <app-signal-demo2></app-signal-demo2>
</div>
